In [1]:
from pathlib import Path

from gtfs_tools.gtfs import GtfsDataset

In [3]:
dir_prj = Path.cwd().parent

dir_data = dir_prj / 'data'
dir_raw = dir_data / 'raw'
dir_int = dir_data / 'interim'

gdb_int = dir_int / 'interim.gdb'

gtfs_parent_dir = dir_raw / 'gtfs_sf'

assert gtfs_parent_dir.exists()

In [6]:
dir_gtfs_lst = [pth.parent for pth in gtfs_parent_dir.glob('**/stops.txt')]

In [7]:
dir_gtfs = dir_gtfs_lst[0]

dir_gtfs

WindowsPath('D:/projects/gtfs-tools/data/raw/gtfs_sf/mdb_source_id=11')

In [8]:
gtfs = GtfsDataset(dir_gtfs)

gtfs

GtfsDataset: D:\projects\gtfs-tools\data\raw\gtfs_sf\mdb_source_id=11

In [11]:
gtfs.stops.data.merge(gtfs._crosstab_stop_agency, on='stop_id', )

    stop_id  ... agency_id
0       ABB  ...      1227
1       ABE  ...      1238
2       ABE  ...        51
3       ABQ  ...        51
4       ACA  ...        51
..      ...  ...       ...
779     NSF  ...        51
780     LEX  ...        51
781     NWB  ...      1232
782     WAS  ...      1238
783     WAS  ...        51

[784 rows x 9 columns]

In [10]:
gtfs._crosstab_route_agency

   route_id agency_id
0     42935      1227
1     18650       117
2     42920      1220
3        43        43
4     23565       147
..      ...       ...
58    42957        51
59    42958      1233
60    42985      1238
61    42991        51
62    42994        51

[63 rows x 2 columns]